/* *{
    box-sizing: border-box;
    margin: 0;
  } */

#site_header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-position-x: 130px;
    height: 180px;
}

.logo{
    width: 100%;
}

.box_logo{
    padding-top: 70px;
    padding-left: 15px;
    width: 350px;
}

h1{
    font-size: 70px;
    margin-bottom: 0px;
}

#autore{
    color: #808080;
    margin-top: 0px;
    font-size: 35px;
}

#color_autore{
    color: #24aae5;
}

#data{
    color: #808080;
    margin-top: 5px;
    font-size: 25px;
}